html {
	position: relative;
	background-color: #eff5f9;
	background-position: top center;
	width: 700px;
	height: 100%
}

body {		 
	font-family: Verdana;
	font-size: 11.3px;	
	margin: 0;
}

.header {
	position: relative;
	background-color: #c2cfd6;
	height: 25px;
	width: 100%
}

.header img {
	position: relative;
	float: left;
	padding-top: 0.9%;
	margin-left: 3px;
	width: 8px;
	height: 8px;
}

.header h4 {
	position: relative;
	left: 5px;
	padding-top: 0.5%;
}	

.first_section label {
	position: relative;
    float: left;
    margin-left: 1%;
    padding-top: 5px;
    width: 30%;
}
.first_section select {
    position: relative;
    width: 42%;
}

.first_section img {
	position: relative;
    float: right;
    margin-right: 2%;
}

.second_section label {
	position: relative;
	margin-left: 1%;
	padding-top: 3px;
	float: left;
	width: 30%;
}

.third_section label {
	position: relative;
	float: left;
	margin-left: 1%;
	padding-top: 3px;
	width: 30%;
}
	
.third_section select {		
	position: relative;
	width: 42%;
}

.third_section span {
	position: relative;
	float: right;
	margin-right: 14.3%;
}

.fourth_section_header {
	width: 100%;
	padding-left: 30%;
	padding-right: 5%;
}
.min {
	margin-left: 1%;
	padding-right: 2.5%;
}
.operate {
	padding-right: 2.5%;
}
	
.fourth_section_1 label {
	float: left;
	margin-left: 1%;
	padding-top: 2px;
	width: 30%;
}

.fourth_section_1 input {
	width: 10%;
}

.fourth_section_1 select {
	width: 10.5%;
}

.fourth_section_1 img {
	margin-right: 1%;
	float: right;
}

.fourth_section_2 label {	
	float: left;
	margin-left: 1%;
	width: 30%;
}

.fourth_section_2 input {
	background: transparent;
	width: 31.2%;
}

.fourth_section_2 select {
	width: 10.4%;
}

.fifth_section_1 label {
	position: relative;
    float: left;
    margin-left: 1%;
    padding-top: 5px;
	width: 30%;
}

.fifth_section_1 select {
	width: 42.1%;
}	

.fifth_section_header {
	width: 100%;
	padding-left: 30%;
	padding-right: 2%;
}

.minimum { 
	position: relative;
	margin-left: 1%;
	padding-right: 3%;
}

.operating {
	position: relative;

	padding-right: 2.5%;
}

.maximum {
position: relative;

	padding-right: 2.5%;
}

.fifth_section_2 label {
	position: relative;
	float: left;
	margin-left: 1%;
	padding-top: 5px;
	width: 30%;
}

.fifth_section_2 input {
	width: 10.1%;
}

.fifth_section_2 select {
	float: right;
	margin-right: 1%;
	width: 25.7%;
}

.sixth_section label {
	position: relative;
    float: left;
    padding-top: 5px;
    padding-left: 55%;
    width: 25%;
}
.sixth_section select {
    position: relative;
    margin-right: 1%;
    width: 19%;
}

.push_buttons {
	background-color: white;
	width: 100%;
	height: 8%;
}

.left_buttons {
	float: left;
	margin-left: 1%;
	padding-right: 5%;
	padding-bottom: 0.6%;
}

.right_button {
	float: right;
	margin-right: 1%;
}

push buttons label {
	margin-bottom: 20px;
	}

        
#product { pointer-events: none; color: #808080; }
#product.active { pointer-events: auto; color:black; }